.complain-border{
    background: #f5f5f5;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.complain-outline{
    background-color: rgb(255, 255, 255);
    width: 86%;
    position: relative;
    left: 7%;
}

.complaints-main{
    margin: 3% 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid #ddd;
    border-radius: 5px;


}



.complain-question{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.select-complain{
    border: 0.5px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    width: 50vw;
    

}


.complain-text{
    background: #f5f5f5;
    border-bottom: 0.5px solid #ddd;
    width: 100%;
}

.complain-text-p{
    padding-top: 10px;
    padding-left: 10px;

}

.complain-text p{
    font-size: 14px;
    align-items: center;
}

.complain-input{
    display: block;
    align-items: center;
    margin: 10px;
    width: 97.5%;

}

.complain-input span{
    font-weight: 550;
    font-size: 15px;
}

.complain-input input{
    border-radius: 4px;
    border: 1px solid #ddd;
    
}

.complain-input textarea{
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-left: 5px;    

}

.complain-details{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px;

}

.detail-of-complain{
    display: flex;

    
}

.complain-input-details{
    width: 50vw;
    padding: 5px 8px;

}

.complain-input-all{
    width: 20vw;
    padding: 5px 8px;
    margin-right: 30vw;
}

.complain-input-email{
    width: 50vw;
    padding: 5px 8px;
}

.submit-column{
    display: flex;
    /* justify-content: flex-end; */
    margin-left: 33vh;

}

.submit-complain-details{
    padding: 10px 5px;
}

.cancel-complain-details{
    padding: 10px 5px;
}

.submit-complain-btn{
    padding: 5px 7px;
    border-radius: 5px;
    border: none;
    background-color: #337ab7;
    color: white;
}

.cancel-complain-btn{
    padding: 5px 7px;
    border-radius: 5px;
    border: none;
    background-color: #d9534f;
    color: white;

}




.complain-qr{
    padding: 20px;
    text-align: center;

}

.complain-qr p {
    font-weight: 500;
}

.complain-qr-img{
    width: 260px;
}



.complain-footer-img{
    display: flex;
    justify-content: center;
    background-color: white;
    margin-top: 10px;
    border-top: 0.5px solid #ddd;
    padding: 0.5%;
}





